.navBox
    // background: rgba(0,0,0,0.4)
    // position: absolute
    width: 100%
    height: 6vw
    // top: 2.5%
    display: flex
    padding: 0 16vw
    .navBar
        display: flex
        flex-direction: row
        // padding-left: 50%
        font-size: 0.8vw
        padding-top: 3%
        position: relative
        justify-content: rigflex-end
        left: 35vw
        li 
            padding-left: 2vw
            font-size: 0.8vw
            a
                color: #fff 
            a:hover
                color: #E7CE7E    
            .active
                color: #E7CE7E
            
            .anticon svg
                font-size: 0.9vw

    .cfLogo 
        width: 6vw
        height: 1.4vw
        margin-top: 2.5%    
